<h1>Player Directory</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
  </tr>
 
  <% @players.each do |player| %>
    <tr>
      <td><%= player.first_name %> <%= player.last_name %></td>
      <td><%= player.bio %></td>
    </tr>
  <% end %>
</table>